@import url('https://fonts.googleapis.com/css2?family=Commissioner&family=Questrial&display=swap');

$main-blue: rgb(0, 238, 255);
$main-red: rgb(197, 31, 31);

html {
  background-color: #000000;
  background-image: linear-gradient(90deg, #1c1c22 5%, #000000 75%, #1c1c22);
  color: white;
  font-family: 'Commissioner', sans-serif;
}

.main-header {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.logo {
  margin-top: 35px;
  margin-right: 10px;
  max-height: 45px;
  background-color: white;
  border-radius: 50%;
}

.main-header h1 {
  font-size: 40px;
  margin-top: 30px;
}

.main-heading {
  color: white;
  text-decoration: none;
  font-family: 'Questrial', sans-serif;
}

.links {
  margin: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

.login-link, .logout-link, .register-link, .profile-link {
  color: black;
  background-color: white;
  border: none;
  border-radius: 50px;
  text-decoration: none;
  margin: 5px;
  padding: 10px;
  cursor: pointer;
}

.logout-link:hover {
  color: white;
  background-color: $main-red;
}

.login-link:hover, .register-link:hover, .profile-link:hover, .submit-btn:hover, .add-favourite-btn:hover {
  background-color: $main-blue;
}

.main {
  margin: 0px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form, .register-form {
  display: flex;
  flex-direction: column;
  width: 30vw;
  min-width: 300px;
  position: absolute;
  top: 30%;
}

.login-btn, .register-btn {
  font-size: 1em;
  color: black;
  background-color: white;
  border: none;
  border-radius: 5px;
  margin: 2px;
  padding: 3px;
  cursor: pointer;
}

.search-form {
  margin: 10px;
  text-align: center;
}

.query-input {
  font-size: max(min(2.5vw, 30px), 1em);
  margin: 2px;
  border: 1px solid rgb(63, 63, 63);
  border-radius: 5px;
}

.country-dropdown {
  font-size: max(min(2.5vw, 30px), 1em);
  margin: 2px;
  border-radius: 5px;
}

.submit-btn {
  font-size: max(min(2.5vw, 30px), 1em);
  color: black;
  background-color: white;
  border: none;
  border-radius: 5px;
  margin: 2px;
  padding: 2px, 5px;
  cursor: pointer;
}

.results-container, .popular-series-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.popular-series-container a, .results-container a {
  text-decoration: none;
}

.tvshow-card {
  width: 300px;
  height: 500px;
  box-shadow: 2px 2px 10px white;
  margin: 20px;
  border-radius: 2px;
  background-color: #000000;
  overflow: scroll;

  &:hover {
    transition: all 0.8s ease-out;
    box-shadow: 0px 4px 50px blue;
    top: -4px;
    border: 1px solid white;
  }
}

.tvshow-poster {
  margin: 0px;
  height: 375px;
  overflow: hidden;
}

.tvshow-poster img {
  object-fit: cover;
}

.tvshow-text {
  padding-top: 15px;
  text-align: center;
  color: white;
  text-decoration: none;
}

.tvshow-text p {
  margin: 0px;
  padding-bottom: 5px;
}

.tvshow-name {
  font-size: 1.2em;
  font-weight: bolder;
}

.details-image {
  margin: 10px;
  max-height: 400px;
}

.details-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

.details-img-and-text {
  display: flex;
  flex-direction: row;
}

.details-text {
  margin: 10px;
  min-width: 20vw
}

.details-title {
  min-width: 50%;
}

.details-plot {
  margin-top: 75px;
  max-width: 40vw
}

.reviews-container {
  margin-bottom: 50px;
}

.add-review-btn {
  font-size: 1rem;
  color: black;
  background-color: white;
  border: none;
  border-radius: 5px;
  margin: 2px;
  padding: 3px;
  cursor: pointer;

  &:hover {
    background-color: $main-blue;
  }
}

.review-form {
  display: flex;
  flex-direction: column;
  border: 2px solid $main-blue;
  margin-top: 20px;
}

.review-form h3 {
  margin-left: 10px;
  color: white;
}

.review-form-rating, .review-form-title, .review-form-description {
  margin: 0px 10px;
  color: $main-blue;
}

.title-input, .description-input, .rating-input {
  padding-right: 100px;
  margin: 10px;
}

.form-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
  cursor: pointer;
}

// .reviews-list {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-evenly;
// }

.add-review-btn {
  margin: 20px;
}

.review-card {
  margin: 20px;
  max-width: 600px;
  border: 2px solid $main-blue;
}

.review-title, .review-btns, .review-description, .review-header{
  margin-left: 10px;
  margin-right: 10px;
}

.review-title {
  color: $main-blue;
}

.review-btns {
  margin-bottom: 10px;
}

.review-edit, .review-delete, .review-form-submit, .review-form-cancel {
  font-size: 1rem;
  color: black;
  background-color: white;
  border: none;
  border-radius: 5px;
  margin: 2px;
  padding: 3px;
  cursor: pointer;
}

.review-edit:hover, .review-form-submit:hover {
  background-color: $main-blue;
}

.review-delete:hover, .review-form-cancel:hover {
  background-color: $main-red;
  color: white;
}

.user-profile {
  width: auto;
  border: 2px solid $main-blue;
  text-align: center;
}

.user-profile h1, .favourites-container h3, .user-reviews-container h3 {
  color: $main-blue;
}

.user-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.favourites-container, .user-reviews-container {
  margin: 20px;
}

.favourite-link, .review-link {
  color: white;
  padding: 10px 10px 10px 0px;
}

.remove-favourite-btn, .add-favourite-btn {
  font-size: 1rem;
  color: black;
  background-color: white;
  border: none;
  border-radius: 5px;
  margin: 2px;
  padding: 3px;
  cursor: pointer;
}

.add-favourite-btn:hover {
  background-color: $main-blue
}

.remove-favourite-btn:hover {
  color: white;
  background-color: $main-red;
}

.page-footer {
  position: fixed;
  bottom: 0;
  margin-top: 40px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  background-color: #000000;
  background-image: linear-gradient(90deg, #1c1c22 5%, #000000 75%, #1c1c22);
  width: 100%;
  text-align: center;
}

.page-footer p {
  margin-bottom: 0px;
}

.github-logo {
  margin-left: 10px;
  margin-top: 10px;
}

@media screen and (max-width: 950px) {
  .details-container {
    flex-direction: column;
  }
  .details-plot {
    margin: 10px;
    max-width: 80vw
  }
}

@media screen and (max-width: 750px) {
  .details-container, .user-content, .reviews-list {
    flex-direction: column;
  }
  .details-image {
    max-width: 300px;
  }
  .details-plot {
    margin: 10px;
    max-width: 80vw
  }
  .main-header {
    margin-top: 50px;
  }
}