html {
  background-color: black;
  color: white;
}

.main-header {
  text-align: center;
}

.main-heading {
  color: white;
  text-decoration: none;
}

.links {
  margin: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

.login-link, .register-link, .protected-link {
  color: black;
  background-color: white;
  border: none;
  border-radius: 50px;
  text-decoration: none;
  margin: 5px;
  padding: 10px;
  cursor: pointer;
}

.main {
  margin: 0px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form, .register-form {
  display: flex;
  flex-direction: column;
  width: 30vw;
  min-width: 300px;
}

.search-form {
  margin: 10px;
  text-align: center;
}

.results-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.tvshow-card {
  box-shadow: 2px 2px 10px white;
  margin: 20px;
}

img {
  max-width: 400px;
  max-height: 400px;
}

.tvshow-name {
  background-color: lightblue;
  color: black
}

.details-image {
  margin: 10px;
}

.details-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

.details-text {
  margin: 10px;
  min-width: 20vw
}

.details-title {
  min-width: 50%;
}

.details-plot {
  margin-top: 75px;
  max-width: 40vw
}

@media screen and (max-width: 750px) {
  .details-container {
    flex-direction: column;
  }
  .details-plot {
    margin: 10px;
    max-width: 80vw
  }
}